@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: local('Yekan-Bakh'), url("fonts/YekanBakh-Medium.eot");
    src: url("fonts/YekanBakh-Medium.woff") format("woff"),
        url('fonts/YekanBakh-Medium.woff2') format('woff2'),
        url('fonts/YekanBakh-Medium.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: local('Yekan-Bakh'), url("fonts/YekanBakh-Bold.eot");
    src: url("fonts/YekanBakh-Bold.woff") format("woff"),
        url('fonts/YekanBakh-Bold.woff2') format('woff2'),
        url('fonts/YekanBakh-Bold.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: local('Yekan-Bakh'), url("fonts/YekanBakh-Heavy.eot");
    src: url("fonts/YekanBakh-Heavy.woff") format("woff"),
        url('fonts/YekanBakh-Heavy.woff2') format('woff2'),
        url('fonts/YekanBakh-Heavy.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: YekanBakhFat;
    font-style: normal;
    font-weight: 900;
    src: local('Yekan-Bakh'), url("fonts/YekanBakh-Fat.eot");
    src: url("fonts/YekanBakh-Fat.woff") format("woff"),
        url('fonts/YekanBakh-Fat.woff2') format('woff2'),
        url('fonts/YekanBakh-Fat.eot?#iefix') format('embedded-opentype');
}

/* Swiper Styles Start */

.full-slider .swiper-button-next,
.full-slider .swiper-button-prev {
    color: #ffffff;
}

.full-slider .swiper-pagination-bullet,
.full-slider .swiper-pagination-bullet-active {
    background: #DDDDDD;
    border-color: #707070;
    border-radius: 2px;
    width: 30px;
    height: 4px;
}

.full-slider .swiper-pagination-bullet-active {
    background: #3C096C;
}

.full-slider {
    height: 100vh;
}

/* Swiper Styles End */